@charset "UTF-8";
html,body{
  margin: 0 ;
  padding: 0 ;
  height: 600px;
  width: 1250px;
  overflow: hidden;
}
#fc{
  width: 80px;
  height: 80px;
  margin: 0 ;
  padding: 0 ;
}
.contents{
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 ;
  padding: 0 ;
  height: 500px;
  width: 1250px;
}
.tori{
  position:fixed;
  top: 40px;
  left: 355px;
}
.ouchi{
  position:fixed;
  top: 150px;
  left: 270px;
}
.botan{
  position:fixed;
  top: 100px;
  left:700px;
}
hureai{
  width: 100px;
  height: 100px;
  padding: 50px;
}
table{
	margin: 0 auto;
}
th{
  text-align: left;
}
/* リンクの下線を消す */
a {
  text-decoration: none;
}