@charset "UTF-8";
body{
	overflow:hidden;
}
.all{
	padding-left:50px;
	position: relative;
	height: 100vh;
/*	display:flex;
	flex-flow: column;*/
}
.main{
	position:relative;
}
img.abs{
  max-width: 100%;
  height: auto;
}
/* 吹き出し本体 */
.balloon{
  width: 200px;
  position: relative;
  padding: 20px;
  background-color: #8080ff;
  color: #ffffff;
  border-radius: 50px;
  margin: -500px 0 0 800px;
  top:150px;
}
/* 色付きの半円 */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(150deg);
  left: 10px;
  bottom: -15px;
  border-left: 20px solid #8080ff;
  border-top: 20px solid #8080ff;
  border-right: 20px solid transparent;
  border-bottom: 30px solid transparent;
}
/* 白い半円 */
.balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(110deg);
  left: -5px;
  bottom: -60px;
  border-left: 20px solid #ffffff;
  border-top: 20px solid #ffffff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.box2{
	display: flex;
	/*position: absolute;*/
	bottom: 0px;
	gap: 150px;
	height:80px;
	margin-left:100px;
	margin-right:100px;
}
.box {
    position: relative;
/*  margin: -100px 0 0 -100px;*/
    margin: 0 100px 0 0;
    right:10px;
}
.abs {
    position:absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}
table{
	display:inline-block;
	width:100%;
}
#info {
	height: 500px;
}
.box1{
	display: flex;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius:50px;
}
input[type=radio]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: -160px 0 0 800px;
}
.radio_closet input[type="radio"] {
  display: none;
}
label img {
  margin: 3px;
  padding: 8px;
}
.radio_closet input[type=radio]:checked+label::before{
    border: 3px solid #000;
    box-sizing: border-box;
}
.radio_closet input[type="radio"]:checked + label img {
  background: #c0c0c0;
}
.btn1,.btn2{
	margin:20px 0 30px 0;
	width:150px;
	text-align:center;
}
.btn2{
	text-align:center;
}
.main{
	height:80vh;
}
label#coin{
	font-size:30px;
}
.coin{
	display:flex;
}
.coinCnt{
	margin-top:26px;
}
/*ペットの名前表示*/
#pet_name{
	display: inline-block;
  height: 50px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  text-align: center;
  padding: 0 30px;/*横の大きさ*/
  font-size: 18px;/*文字の大きさ*/
  background: #f57a78;/*塗りつぶし色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}
h3{
	position:absolute;
	right:200px;
	top:50px;
}
#pet_name:before,#pet_name:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
#pet_name:before{
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
#pet_name:after{
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
.btn1 a, .btn2 a{
	position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.btn1 a:hover, .btn2 a:hover{
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.btn1 a:after, btn2 a:after{
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
a#btn1, a#btn2{
	width:150px;
}